body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* .orderTable 有線框的樣式 */
#orderTable {
    border-collapse: collapse;
    border: 1px solid #000;
}

/* .orderTable td 有線框的樣式 */
#orderTable th,
#orderTable td {
    padding: 5px;
    border: 1px solid #000;
}
